{
 :paths ["/home/cdaniels/.clojure/src"]

 :deps {
        org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.5"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        org.clojure/data.json {:mvn/version "1.0.0"}
        org.clojure/data.csv {:mvn/version "1.0.0"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        tupelo/tupelo {:mvn/version "21.11.06a"}
        org.clojure/java.classpath {:mvn/version "1.0.0"}
        org.clojure/core.async {:mvn/version "1.5.648"}
        hato/hato {:mvn/version "0.8.2"}
        }
 }
